.cabecalho .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-titulo{
    display: flex;
    margin: 20px;
}
.cabecalho-nav {
    display: flex;
    margin: 0 50px;
}

.cabecalho-nav-link {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.rodape {
    display: flex;
    padding: 5px;
    justify-content: center;
}

img {
    width: 80%;
    align-items: center;
}

.container .rodape .logo {
    display: flex;
    width: 50px;
    justify-content: space-around;
    align-items: center;
    margin: 3px 10px;

}

footer {
    text-align: center;
}
