header{
    background: #bc658d;
}

h1 {
    color: #82c4c3;
    font-weight: bold;
    font-size: 20px;
    font-family: trebuchet MS, sans-serif;
}

a {
    color: #9b3d69;
    text-decoration: none;
    font-family: trebuchet MS, sans-serif;
}

.cabecalho-nav-link {
    border: solid 2px;
    border-radius: 2px;
    border-color: #82c4c3;
    background: #82c4c3;
    padding: 2px 8px;
}

body {
    background: #f9d89c
}

footer {
    background: #f5a7a7;
    position:absolute;
    bottom:0;
    width:100%;
}

p {
    font-family: trebuchet MS, sans-serif;
    text-align: center;
    color: #499493;
}
